name: Build Plugin

on:
  push:
    branches: [ "**" ]
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build with Gradle
        run: ./gradlew build --no-daemon
      - name: Upload jar
        uses: actions/upload-artifact@v4
        with:
          name: WinterEventBosses-1.5.0.jar
          path: build/libs/*1.5.0*.jar
